PORT=5000
NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=msu_pakawit_db
DATABASE_SYNCHRONIZE=true
JWT_SECRET=msu_pakawit_dev_secret_key_2026
